body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


hr {
    border: solid 0.5px black;
    width: 100%;
    color: #FFFF00;
    height: 1px;
    box-sizing: border-box;
}

.client {
    /*margin-bottom: -15px;
    margin-top: -16px;
    border-top: solid 0.5px black;*/
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-box-sizing: border-box; /* Для Firefox */
    box-sizing: border-box; /* Ширина блока с полями */
    border: 1px solid #808080;
    margin: -1px 0 0 -1px;
    padding: 0;
}

.unit {
    margin-bottom: -15px;
    margin-top: -15px;
}

.shapka {
    font-weight: bold;
    box-sizing: border-box; /* Ширина блока с полями */
    padding: 5px 5px 5px 5px;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid #808080;
}

.shapka h5 {
    font-weight: bold;
}

.title {
    margin-top: 0px;
}

.task {
    padding: 5px;
    margin-top: -1px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
}

.filter{
    margin: 10px;
}

.inputfilter input{
    width: 80px;
    height:33px;
}
